<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'posts:index' %}"><span style="color:red">Ya</span>tube</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form id="search_results" role="search" action="{% url 'posts:search_results' %}" class="form w-100" autocomplete="off">
      <input name="q" value="" autocomplete="off" maxlength="240" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  </form>
  <ul class="navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item text-nowrap px-3">
        <a class="nav-link" href="{% url 'logout' %}">Выход</a>
      </li>
    {% else %}
      <ul class="d-flex justify-content-between">
        <li class="nav-item text-nowrap">
          <a class="nav-link " href="{% url 'login' %}">Вход</a>
        </li>
        <li class="nav-item text-nowrap px-3">
          <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
        </li>
      </ul>
    {% endif %}
  </ul>
</header>
