{% extends "base.html" %}
{% block title %}Подписчики{% endblock %}
{% block header %}Подписчики{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        {% for profile_user in page %}
            {% include 'posts/includes/author_sidebar.html' %}
        {% empty %}
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    <p class="card-text">У вас пока нет ни одного подписчика.</p>
                    <a href="#" class="btn btn-sm btn-primary">Suggestions</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/navbars/paginator.html" %}
</div>
{% endblock %}