{% extends "base.html" %}
{% block title %}Подписчики{% endblock %}
{% block header %}Подписчики{% endblock %}
{% block content %}
<h6 class="badge bg-light text-dark rounded-pill align-text-bottom">Подписчиков: {{ page.paginator.count }}</h6>
<div class="col-md-12">
    <div class="row">
        {% for profile_user in page %}
            {% include 'posts/includes/author_card.html' %}
        {% empty %}
            <div class="col-md-6">
                <div class="alert alert-info" role="alert">
                  <p>У вас пока нет ни одного подписчика.</p>
                  <hr>
                  <p class="mb-0"><a class="alert-link" href="{% url 'posts:new_post' %}">Написать новый пост</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/navbars/paginator.html" %}
</div>
{% endblock %}