{% extends "base.html" %}
{% block title %}Подписки{% endblock %}
{% block header %}Подписки{% endblock %}
{% block content %}
<h6 class="badge bg-light text-dark rounded-pill align-text-bottom">Подписок: {{ page.paginator.count }}</h6>
<div class="col-md-12">
    <div class="row">
        {% for profile_user in page %}
            {% include 'posts/includes/author_card.html' with followees=True%}
        {% empty %}
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    <p class="card-text">У вас пока нет ни одной подписки.</p>
                    <a href="#" class="btn btn-sm btn-primary">Suggestions</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/navbars/paginator.html" %}
</div>
{% endblock %}