{% extends "base.html" %}
{% block title %}Страница публикации{% endblock %}
{% block header %}Страница публикации{% endblock %}
{% load user_filters %}
{% block content %}
<div class="row">
<!--    {% include 'posts/includes/author_sidebar.html' with profile_user=post.author page=post|to_list %}-->
    <div class="col-md-12">
        {% include 'posts/includes/post_item.html' with profile_user=post.author %}
        {% include 'posts/includes/comments.html' with username=post.author post_id=post.id%}
    </div>
</div>
{% endblock %}