{% extends "base.html" %}
{% block title %}Страница публикации{% endblock %}
{% block header %}Страница публикации{% endblock %}
{% block content %}
<div class="row">
    {% include 'posts/includes/author_card.html' with profile_user=post.author page=post follow_button=True%}
    <div class="col-md-9">
        {% include 'posts/includes/post_item.html' with profile_user=post.author %}
        {% include 'posts/includes/comments.html' with username=post.author post_id=post.id comments=post.comments.all %}
    </div>
</div>
{% endblock %}